<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722893069047-o340tafaaf37bdfhn9eg7g6hccmjsh70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722893069047-o340tafaaf37bdfhn9eg7g6hccmjsh70</string>
	<key>API_KEY</key>
	<string>AIzaSyBiQQjhFZaqYb8nVU4n1z21Aanfji_WGeA</string>
	<key>GCM_SENDER_ID</key>
	<string>722893069047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pt.valerio.flutter.chat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-b4152</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-b4152.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722893069047:ios:956d857eb19bfd98ed91f2</string>
</dict>
</plist>